# dependencies
**/node_modules

# testing
**/coverage

# build
**/dist

# etc
.DS_Store
.env.local
.idea

# compiled
packages/extension/utils/reload/*.js
packages/extension/utils/reload/injections/*.js
packages/extension/public/manifest.json

**/.next
