@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make header translucent for background by pushing content up */

#__next .nextra-content {
    padding-top: 4rem;
}

.nextra-nav-container > nav {
    margin-bottom: -4rem;
}

/* Workaround for tailwind dark mode bg: see https: //github.com/tailwindlabs/tailwindcss/issues/2966 */
:is(.dark .dark\:bg-black.bg-opacity-60) {
    --tw-bg-opacity: .6;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
